.order-success,
.order-error {
  color: #101010;
  text-align: center;
}

.success-lottie,
.error-lottie {
  height: 200px;
}

a.action {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.9x;
}

a.action:hover {
  font-weight: bold;
  text-decoration: underline;
  transition: font-weight text-decoration 300ms;
}

.order-success a.action {
  color: var(--primary-color);
}

.order-error a.action {
  color: rgb(220, 98, 98);
}
