<script>
    const formDelete = document.querySelector('#form-delete');
    formDelete.addEventListener('submit', (event) => {
        const confirmation = confirm('Deseja deletar??'); // vai gerar um boolear - true(deletar) false(não deletar)

        if (!confirmation) {
            event.preventDefault()
        }

    })
</script>